@media (max-width: 1919px) {
  .hero__slider {
    left: 43.75%
  }
}

@media (max-width: 1680px) {
  .header__wrapper {
    padding: 0;
  }

  .hero {
    overflow: hidden;
  }

  .hero__wrapper {
    height: 926px;
    padding: 128px 0 68px;
    overflow: visible;
  }

  .menu__link {
    font-weight: 500;
  }

  .hero__box {
    margin-left: 0;
  }

  .hero__slider {
    left: 36.6%;
    bottom: 68px;
  }

  .slider__item--hero {
    width: 180px;
    height: 261px;
    margin-right: 30px;
  }

  .slider__item--active {
    width: 245px;
    height: 352px;
    transform: translateY(-14px);
  }

  .hero .slider__range--hero {
    margin-left: 340px;
    margin-top: 21px;
  }

  .container {
    max-width: 900px;

    &--narrow {
      max-width: 746px;
    }

    &--wide-shadow {
      max-width: 930px;
    }
  }

  .works__title {
    margin-bottom: 30px;
  }

  .works__text {
    margin-bottom: 14px;
  }

  .slider__animal {
    height: 100%;
  }

  .inspires__box:not(:last-child) {
    margin-right: 20px;
  }

  .pets .container {
    /* overflow: hidden; */
    max-width: 1200px;
  }

  .pets__inner {
    padding-bottom: 100px;
  }

  .pets__title {
    margin-bottom: 30px;
  }

  /* .slider__list--pets {
    height: 301px;
  }

  .slider__item--pets {
    min-width: 210px;
    height: 100%;
    margin-right: 20px;
    transform: translateX(-21px);
  }

  .slider__mask--pets {
    width: 100%;
    height: 100%;
    padding: 0 0 32px 7px;
  } */

  .slider__link--pets {
    margin-right: 5px;
  }

  .pay__arrow {
    width: 48px;
    content: url(assets/images/pay/arrow-middle.svg);
  }

  .pay__text {
    margin-bottom: 50px;
  }

  .pay__circles {
    margin-bottom: 50px;
  }

  .testimonials__slider-list {
    max-width: 930px;
  }

  .slider__item--testimonials {
    min-width: 465px;
  }

  .testimonials .slider__card {
    width: 440px;
    padding: 47px 58px 0 58px;
  }

  .landing-map {
    padding: 100px 0 100px;
  }

  .map__inner {
    /* background-image: url(assets/images/map-big.svg); */
    width: 900px;
    height: 436px;
  }

  .map__btn--eagle {
    top: 12.4%;
    left: 9.6%;
  }

  .map__btn--crocodile {
    top: 15.48%;
    left: 19.6%;
  }

  .map__btn--panda {
    top: 15.5%;
    right: 19.4%;
  }

  .footer__top {
    padding: 100px 0 59px;
    display: grid;
    grid-template-columns: 51% 49%;
    grid-template-rows: auto auto 0px;
  }

  .footer__menu {
    width: 100%;
  }

  .form__btn {
    margin-left: 258px;
  }

  .footer__centre {
    margin-top: 44px;
  }

  .footer__centre {
    margin-right: auto;
  }

  .footer__link {
    display: inline-block;
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 2;
    grid-column-end: 3;
    justify-self: start;
    max-width: 100%;
    width: 279px;
    margin: 0;
    transform: translateY(-110px);
  }

  .footer__bottom {
    padding: 0 0 52px;
  }

  .world-map {
    padding-bottom: 100px;
  }

  .header__menu--map {
    margin-left: 170px;
  }

  .world-map__text {
    margin-bottom: 35px;
  }

  .world-map__slider {
    width: 660px;
    margin-bottom: 25px;
  }

  .slider__list--world-map {
    overflow: hidden;
  }

  .slider__range--world-map {
    margin-bottom: 50px;
  }

  .world-map__wrapper {
    margin-bottom: 30px;
  }

  .map__inner--world-map {
    width: 800px;
    height: 388px;
    margin: 0 auto;
  }

  .container--zoos {
    max-width: 100%;
  }

  .zoos {
    padding: 60px 0 90px;
  }

  .zoos__aside {
    left: 0;
    height: 525px;
  }

  .zoos__slider {
    position: relative;
    max-height: 438px;
    margin: 44px 0 44px;
  }

  .zoos__slider-wrapper {
    height: 550px;
    transform: translateY(-60px) scale(0.76);
  }

  .slider__item--zoos {
    margin-top: 20px;
  }

  .zoos__inner {
    margin-left: 42px;
    width: 800px;
    min-height: 100%;
  }

  .zoos__video {
    margin-right: 20px;

  }

  .zoos__video-main {
    width: 527px;
    height: 297px;
    margin-bottom: 27px;
  }

  .zoos__video-item>iframe {
    width: 164px;
    height: 94px;
  }

  .zoos__info-text {
    margin-bottom: 16px;
  }

  .zoos__link {
    margin-top: 4px;
    width: 185px;
  }
}

//-----------------------------------------------------------

@media (max-width: 980px) {
  .container {
    max-width: 640px;
    padding: 0;
  }

  .header {
    position: fixed;
    z-index: 999;
  }

  .header__wrapper {
    padding: 0 20px;
  }

  .header__menu {
    display: none;
  }

  .switch {
    margin-left: auto;
  }

  .header__burger {
    display: flex;
  }

  .hero {
    margin-top: 94px;
  }

  .hero__wrapper {
    height: 934px;
    padding: 122px 20px 100px;
  }

  .hero__inner {
    max-width: 600px;
  }

  .hero__title {
    margin-bottom: 30px;
    font-size: 64px;
    line-height: 75px;
  }

  .hero__slider {
    bottom: 105px;
    left: 8%;

    .slider__list {
      padding-left: 71px;
      margin-bottom: 30px;
    }

    .slider__range--hero {
      margin-left: 280px;
    }
  }

  .slider__item--hero {
    transform: none;
  }

  .works {
    padding-bottom: 68px;
  }

  .works__inner {
    padding: 0 20px;
  }

  .works__title {
    margin-bottom: 30px;
  }

  .works__text {
    margin-bottom: 30px;
  }

  .inspires__inner {
    flex-direction: column;
    width: 287px;
    height: 100%;
    margin: 0 auto;
  }

  .inspires__box {
    flex-basis: auto;
  }

  .inspires__box:not(:last-child) {
    margin: 0 0 50px;
  }

  .pets {
    .container {
      max-width: 100%;
    }
  }

  .pets__inner {
    padding: 100px 20px;
  }

  .pets__title {
    margin-bottom: 35px;
  }

  .pets__slider {
    margin-bottom: 35px;
  }

  .pets__arrow {
    opacity: 0;
  }

  .slider__range--pets {
    margin-bottom: 35px;
  }

  .pay__title {
    margin-bottom: 15px;
  }

  .pay__text {
    text-align: center;
    margin-bottom: 50px;
    padding: 0 50px;
  }

  .pay__circles {
    flex-direction: column;
    height: 935px;
  }

  .pay__arrow {
    content: url(assets/images/pay/arrow-down.svg);
    width: auto;
    height: 40px;
  }

  .testimonials {
    &__title {
      margin-bottom: 35px;
    }

    &__slider {
      margin: 0 auto 30px;
    }

    &__arrow {
      opacity: 0;
    }

    .testimonials__slider-list {
      max-width: 640px;
    }
  }

  .testimonials {
    .container--wide-shadow {
      overflow: hidden;
    }
  }

  .slider__item--testimonials {
    min-width: 640px;
    height: 340px;
    padding: 11px 17px 19px 27px;
  }

  .testimonials .slider__card {
    width: 585px;
    height: 310px;
    margin-right: 0;
  }

  .landing-map {
    padding-bottom: 80px;
  }

  .landing-map__title {
    margin-bottom: 51px;
  }

  .map__inner {
    width: 600px;
    height: 290px;
    margin: 0 auto;
    /* background-image: url(assets/images/map-middle.svg); */
  }

  .map__btn--eagle {
    top: 2.4%;
    left: 8.9%;

    .map__btn-descr {
      left: 260%;
    }
  }

  .map__btn--crocodile {
    top: 5.48%;
    left: 17.2%;

    .map__btn-descr {
      left: 260%;
    }
  }

  .map__btn--gorilla {
    top: 23.8%;
    left: 44.67%;
  }

  .map__btn--panda {
    top: 4.27%;
    right: 17.6%;

    .map__btn-descr {
      left: -260%;
    }
  }

  .footer__top {
    padding: 96px 20px 66px;
    grid-template-columns: 54% 46%;
    grid-template-rows: auto auto auto auto;
  }

  .footer__link {
    grid-row-start: 1;
    grid-row-end: 2;
    transform: none;
  }

  .footer__menu {
    grid-row-start: 2;
    grid-row-end: 3;
    margin-top: 18px;

    .menu__list {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-between;
      height: 91px;
    }

    .menu__item {
      margin: 0;
    }
  }

  .footer__contact {
    grid-row-start: 3;
    grid-row-end: 4;
    margin-top: 24px;
  }

  .form__name {
    margin-bottom: 22px;
  }

  .form__checkbox-label {
    margin: 20px 0 15px;
  }

  .form__btn {
    margin-left: 258px;
  }

  .footer__centre {
    grid-row-start: 4;
    grid-row-end: 5;
    margin-top: 72px;
  }

  .footer__bottom {
    padding: 0 20px 43px;
  }

  .world-map {
    margin-top: 94px;
    padding: 60px 20px 80px;
  }

  .world-map__text {
    width: 100%;
    font-size: 14px;
    line-height: 16px;
  }

  .world-map__slider {
    width: 515px;
  }

  .slider__list--world-map {
    justify-content: flex-start;
  }

  .slider__item--world-map {
    min-width: 135px;
    height: 135px;
  }

  .world-map__arrow--left {
    left: -42px;
  }

  .world-map__arrow--right {
    right: -42px;
  }

  .slider__range--world-map {
    margin-bottom: 35px;
  }

  .world-map__wrapper {
    margin-bottom: 35px;
  }

  .map__inner--world-map {
    width: 600px;
    height: 290px;
    margin: 0 auto;
  }

  .zoos {
    padding: 60px 0 80px;
    margin-top: 94px;
  }

  .zoos__aside {
    left: 0;
    height: 416px;
    width: 120px;
  }

  .zoos__slider {
    position: relative;
    max-height: 330px;
  }

  .zoos__slider-wrapper {
    height: 550px;
    transform: translate(-25px, -120px) scale(0.6);
    min-width: 158px;
  }

  .slider__item--zoos {
    margin-top: 20px;
  }

  .zoos__arrow--left {
    top: -43px;
    left: 44%;
  }

  .zoos__arrow--right {
    bottom: -43px;
    left: 44%;
  }

  .zoos__inner {
    margin-left: 3px;
    width: 497px;
    min-height: 100%;
  }

  .zoos__title {
    margin-left: 10px;
    margin-bottom: 36px;
  }

  .zoos__content {
    display: flex;
    flex-direction: column;
  }

  .zoos__video {
    margin-right: 0;
    margin-bottom: 40px;
  }

  .zoos__video-main {
    width: 497px;
    height: 280px;
    margin-bottom: 15px;
  }

  .zoos__video-item>iframe {
    width: 155px;
    height: 89px;
  }

  .zoos__info-text {
    margin-bottom: 13px;
  }

  .zoos__info-text:nth-last-child() {
    margin-bottom: 0px;
  }

  .zoos__link {
    margin-top: 16px;
    width: 185px;
  }
}

//-----------------------------------------------------------------

@media (max-width: 480px) {
  .container {
    max-width: 320px;
  }

  .header__wrapper {
    min-height: 92px;
    padding: 0 10px;
  }

  .hero {
    margin-top: 92px;
  }

  .hero__wrapper {
    height: 669px;
    padding: 92px 10px 50px;
  }

  .hero__box {
    margin: 0;
    max-width: 300px;
  }

  .hero__title {
    margin-bottom: 15px;
    font-size: 48px;
    line-height: 56px;
  }

  .hero__slider {
    height: auto;
    bottom: 38px;
    left: 3px;

    .slider__mask {
      padding: 0 0 10px 8px;
    }

    .slider__text {
      margin-bottom: 6px;
      width: 128px;
      font-size: 12px;
      line-height: 14px;
    }

    .slider__link {
      margin-right: 0px;
      margin-bottom: 6px;
      font-size: 10px;
      line-height: 12px;
    }

    .slider__btn {
      padding: 0;
      border-radius: 3px;
      font-weight: 500;
      font-size: 10px;
      line-height: 12px;
    }

    .range {
      width: 140px;
    }

    .range input[type="range"]::-moz-range-thumb,
    .range--hero input[type="range"]::-moz-range-thumb {
      width: 17px;
    }
  }

  .hero__slider .slider__list {
    padding-left: 20px;
    margin-bottom: 15px;
  }

  .slider__list--hero {
    background-size: auto;

    .slider__item--active {
      width: 140px;
      height: 202px;
    }
  }

  .slider__item--hero {
    width: 113px;
    height: 164px;
    margin-right: 10px;
  }

  .hero__slider .slider__range--hero {
    margin-top: 0;
    margin-left: 140px;
  }

  .hero__social {
    display: none;
  }

  .works {
    padding: 0;

    .range {
      margin-bottom: 20px;
    }

    .works__inner {
      padding: 50px 10px;
    }
  }

  .works__title {
    margin-bottom: 20px;
    font-size: 36px;
    line-height: 42px;
  }

  .works__slider {
    margin-bottom: 20px;
  }

  .inspires {
    height: 100%;
  }

  .inspires__inner {
    width: 300px;
    padding: 50px 0;
  }

  .inspires__box {
    width: 300px;
  }

  .inspires__box:not(:last-child) {
    margin: 0 0 30px;
  }

  .pets__inner {
    padding: 100px 10px 50px;
  }

  .pets__title {
    margin-bottom: 30px;
    font-size: 36px;
    line-height: 42px;
  }

  .pets__slider {
    margin-bottom: 30px;
  }

  .slider__range--pets {
    margin-bottom: 25px;
  }

  .pay {
    padding: 50px 0;
  }

  .pay__title {
    margin-bottom: 30px;
    font-size: 36px;
    line-height: 42px;
  }

  .pay__text {
    display: none;
  }

  .pay__circles {
    margin-bottom: 40px;
  }

  .testimonials__inner {
    padding: 50px 0;
  }

  .testimonials__title {
    margin-bottom: 25px;
    font-size: 36px;
    line-height: 42px;
  }

  .testimonials__slider {
    height: 393px;
    margin-bottom: 20px;
  }

  .testimonials .testimonials__slider-list {
    max-width: 320px;
    height: 393px;
  }

  .slider__item--testimonials {
    min-width: 300px;
    height: 363px;
    padding: 11px 17px 19px 13px;
  }

  .testimonials .slider__card {
    width: 300px;
    height: 363px;
    padding: 50px 14px 0 14px;
    margin-right: 0;
  }

  .testimonials .slider__user {
    margin-bottom: 47px;
  }

  .testimonials .slider__card-title {
    margin-bottom: 19px;
    font-size: 16px;
    line-height: 19px;
  }

  .testimonials .slider__card-descr {
    font-size: 14px;
    line-height: 16px;
  }

  .range--testimonials {
    margin: 0 auto 20px;
  }

  .landing-map {
    padding: 50px 0 60px;
  }

  .landing-map__title {
    margin-bottom: 30px;
    font-size: 36px;
    line-height: 42px;
  }

  .landing-map__wrapper {
    margin-bottom: 30px;
  }

  .map__inner {
    width: 300px;
    height: 146px;
    /* background-image: url(assets/images/map-small.svg); */
  }



  .map__btn--eagle {
    top: 2px;
    left: 25px;
  }

  .map__btn--crocodile {
    top: 9px;
    left: 50px;
  }

  .map__btn {
    transform: scale(0.5);
  }

  .footer__top {
    padding: 50px 10px 80px;

    grid-template-columns: 100%;

    grid-template-rows: auto auto auto auto auto;
  }

  .footer__menu {
    grid-row-start: 2;
    grid-row-end: 3;
    margin-top: 30px;
  }

  .form__input {
    width: 300px;
  }

  .form__text {
    width: 300px;
  }

  .form__btn {
    margin-left: 190px;
  }

  .footer__centre {
    margin-top: 48px;
  }

  .footer__link {
    margin: 41px auto 0;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 6;
    grid-row-end: 7;
  }

  .footer__bottom {
    padding: 0 10px 22px;
  }

  .world-map {
    padding: 35px 20px 60px;
  }

  .world-map__title {
    margin-bottom: 10px;
    font-size: 24px;
    line-height: 28px;
  }

  .world-map__text {
    margin-bottom: 40px;
    font-size: 12px;
    line-height: 13px;
  }

  .world-map__slider {
    width: 225px;
    margin-bottom: 20px;
  }

  .slider__list--world-map {
    min-height: 85px;
  }

  .slider__item--world-map {
    margin: 12px;
    min-width: 60px;
    height: 60px;
  }

  .slider__item--round .slider__gradient--world-map {
    width: 68px;
    height: 68px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .slider__gradient {
    width: 60px;
    height: 60px;
  }

  .slider__gradient--world-map {
    background-image: url(assets/icons/round-gradient-small.svg);
  }

  .world-map__arrow--left {
    left: -42px;
  }

  .world-map__arrow--right {
    right: -42px;
  }

  .slider__range--world-map {
    margin-bottom: 35px;
  }

  .world-map__wrapper {
    margin-bottom: 35px;
  }

  .map__inner--world-map {
    width: 600px;
    height: 290px;
    margin: 0 auto;
  }

  .world-map__arrow--left {
    left: -28px;
  }

  .world-map__arrow--right {
    right: -28px;
  }

  .map__inner--world-map {
    width: 280px;
    height: 146px;
    margin: 0 auto;
  }



  .zoos {
    padding: 35px 0 60px;
    margin-top: 92px;
  }

  .zoos__aside {
    left: 0;
    height: 266px;
    width: 85px;
  }

  .zoos__slider {
    position: relative;
    max-height: 200px;
  }

  .zoos__slider-wrapper {
    height: 550px;
    transform: translate(-40px, -185px) scale(0.36);
    min-width: 158px;
  }

  .zoos__arrow--left {
    top: -43px;
    left: 44%;
  }

  .zoos__arrow--right {
    bottom: -23px;
    left: 44%;
  }

  .zoos__inner {
    margin-left: 10px;
    width: 205px;
    min-height: 100%;
  }

  .zoos__title {
    margin-left: 7px;
    margin-bottom: 21px;
    font-size: 24px;
    line-height: 28px;
  }

  .zoos__video {
    width: 205px;
    margin-bottom: 30px;
  }

  .zoos__video-main {
    width: 205px;
    height: 116px;
    margin-bottom: 10px;
  }

  .zoos__video-list {
    width: 205px;
    margin-bottom: 10px;
  }

  .zoos__video-item:last-child {
    display: none;
  }

  .zoos__video-item>iframe {
    width: 98px;
    height: 56px;
  }

  .zoos__info-title {
    margin-bottom: 8px;
    font-size: 14px;
    line-height: 16px;
  }

  .zoos__info-text {
    margin-bottom: 15px;
    font-size: 12px;
    line-height: 14px;
  }

  .zoos__info-text:last-child() {
    margin-bottom: 3px;
    font-size: 11px;
    line-height: 13px;
  }

  .zoos__link {
    margin-top: 0px;
  }
}