.landing-map {
  margin: 0 auto;
  padding: 100px 0 94px;
  text-align: center;
  background-color: var(--color-bg-3);

  &__title {
    margin-bottom: 60px;
  }

  &__wrapper {
    margin-bottom: 35px;
  }

  &__link {
    margin: 0 auto;
  }
}