.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 245px;
  height: 55px;
  background: linear-gradient(106.89deg, #4BD8B5 -14.32%, #49D6DF 100.68%);
  border-radius: 3px;
  font-weight: 900;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
  color: $white;
  transition: 0.3s;

  &__pic {
    display: inline-block;
    width: 32px;
    height: 32px;
    margin-right: 5px;
    background-image: url(assets/icons/play.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  &:hover {
    box-shadow: 0 0 0 4px #333333;
  }
}